.cart-container img{
    width: 100px;
    margin-right: 10px;
    
}

.cart-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-bottom: 50px;
}

.cart-container-container{
    display: flex;
    align-items: center;
    margin-right: 50px;
}
.cart-container button{
    background-color: tomato;
    height: 40px;

}
